.Site{
    .Site_RedesSociais{
        background-color: $Branco;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: calc(100% - 48px);
        padding: 24px;
        box-shadow: 0px -13px 20px #00000014;
        z-index: 99;
        .Site_RedesSociais_Container{
            width: 90%;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            a{
                text-decoration: none;
            }
            .RedesSociais_Container_Item{
                margin: 0px 24px;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #8c8c8c;
                    @extend %HoverSuave;
                    &:hover{
                        animation: pulseButton 0.6s infinite;
                        color: $Roxo1;
                    }
                    i{
                        font-size: 40px;
                        margin-bottom: 8px;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@keyframes pulseButton{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}

.__is-Disable{
    display: none!important;
}